lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
test/*.d.ts
test/*.js
test/**/*.d.ts
test/**/*.js
test/temp*
package-lock.json

/test/temp
/demo/
/segment-dict.iml
/test/
/test/*.temp*
!/test/lib/
/script/*.d.ts
/script/*.js
!/test/res
*.tgz
!/test/sort.ts
/.eslintrc.json.tpl
/.browserslistrc
/package.d.ts
/tsconfig.tsbuildinfo
*.map
/coverage/
/.eslintignore
/.mocharc.yml
/.nowignore
/.nycrc
/lerna.json.tpl
/now.json.tpl
/tsconfig.esm.json.tpl
